/* Main styles */
body {
	background: #FFF;
	font-size: 14px;
	line-height: 1.5em;
	font-family: sans-serif;
}
a {
	text-decoration: none;
	color: #E64C66;
}
a:hover {
	color: #2D3E50;
	text-decoration: underline;
}
p {
	font-size:1.1em;
	padding: 10px 0 0 10px;
	margin-bottom:5px;
}
h3 {
	text-align: center;
	color: white;
	font-family: 'Rokkitt', serif;
	text-transform: lowercase;
	font-size:2em;
	padding-top:7.5px;
	height: 30px;
}
h2 {
	font-family: 'Rokkitt', serif;
	text-transform: lowercase;
	padding:10px;
	line-height: .85em;
	color:black;
	font-size: 4.5em;
	text-align: center;
}

.main {	
}
.name {
	font-family: sans-serif;
	font-size: .5em;
	text-transform: none;
	font-style: italic;
}

header {
	background: #1BBC9B;
	height: 37px;
	color: white;
	padding: 20px 0 0 10px;
	font-size: 3.3em;
	font-family: 'Rokkitt', serif;
}
nav {
	float:right;
}
nav li {
	float:left;
}
nav li a {
	font-size: .35em;
	font-family: sans-serif;
	font-weight: normal;
	text-decoration: none;
	color: #000;
	padding: 10px;
}
nav li a:hover{
	background: #2D3E50;
	color: #E64C66;
}
#about h3 {
	background: #E64C66;
}
#work h3 {
	background: #AEAEAE;
}
#contact h3 {
	background: #2D3E50;
}
#contact ul {
	margin: 0 0 40px 0;
	padding:0;
}
#contact li {
	float:left;
	padding: 10px;
	margin-bottom: 20px;
	margin-top: 0;
}
footer {
	background: #1BBC9B;
	padding: 8px 0;
}
footer nav {
	float:left;
}
footer nav li {
	float:left;
}
footer nav li a {
	font-size: .95em;
	font-family: sans-serif;
	font-weight: normal;
	text-decoration: none;
	color: #000;
	padding: 5px;
}
footer nav li a:hover{
	background: none;
	text-decoration: none;
	color:white;
}