/* Main styles */
body {
	background: #FFF;
	font-size: 14px;
	line-height: 1.5em;
	font-family: sans-serif;
}
a {
	text-decoration: none;
	color: #E64C66;
}
a:hover {
	color: #2D3E50;
	text-decoration: underline;
}
p {
	font-size:1.1em;
	padding: 10px;
	font-family: palatino, "times new roman", serif;
}
h4 {
	height: 25px;
	border-bottom:4px solid #E64C66;
	font-size:1.3em;
	padding-top:8px;
	padding-left: 10px;
	margin:0 0 5px 0;
	text-transform: uppercase;
}
h5 {
	margin-left: 15px;
	width: 40%;
	background: #2D3E50;
	margin-bottom: 10px;
	display: inline-block;
	text-align: center;
	font-family: 'Rokkitt', serif;
	padding-top:10%;
	padding-bottom:10%;
	border: 1px solid #E64C66;
}
h5:hover {
	background: none;
}
h3 {
	text-align: center;
	color: white;
	font-family: 'Rokkitt', serif;
	text-transform: lowercase;
	font-size:2em;
	padding-top:7.5px;
	height: 30px;
}
.h2 {
	font-family: 'Rokkitt', serif;
	text-transform: lowercase;
	padding:20px 20px 5px 20px;
	line-height: .85em;
	color:black;
	font-size: 3.5em;
}

.main {	
}
.name {
	font-family: sans-serif;
	font-size: .5em;
	text-transform: none;
	font-style: italic;
}
header {
	background: #1BBC9B;
	height: 37px;
	color: white;
	padding: 20px 0 0 10px;
	font-size: 3.3em;
	font-family: 'Rokkitt', serif;
}
nav {
	float:right;
}
nav li {
	float:left;
}
nav li a {
	font-size: .3em;
	font-family: sans-serif;
	font-weight: normal;
	text-decoration: none;
	color: #000;
	padding: 12px;
	text-transform: lowercase;
}
nav li a:hover{
	background: #2D3E50;
	color: #E64C66;
}
#about h3 {
	background: #E64C66;
}
#work h3 {
	background: #AEAEAE;
}
#contact h3 {
	background: #2D3E50;
}
#contact ul {
	margin: 0 0 40px 0;
	padding:0;
}
#contact li {
	float:left;
	padding: 10px;
	margin-bottom: 20px;
	margin-top: 0;
}
footer {
	background: #1BBC9B;
	padding: 8px 0;
	height: 20px;
}
footer nav {
	position: absolute;
	left: 0;
}
footer nav li {
	float:left;
}
footer nav li a {
	font-size: .95em;
	font-family: sans-serif;
	font-weight: normal;
	text-decoration: none;
	color: #000;
	padding: 5px;
}
footer nav li a:hover{
	background: none;
	text-decoration: none;
	color:white;
}
.go-to-top {
	position: fixed;
	bottom: 0;
	right: 10px;
	padding:20px;
	background-color: #1BBC9B;
	color: white;
}
@media only screen and (max-device-width: 480px) {

header {
	font-size: 1.5em;
}

.h2 {
	line-height: .85em;
	padding:10px 10px 5px 10px;
	font-size: 1.5em;
}

.name {
	font-size: .75em;
}

nav li a {
	font-size: 1.0em;
	padding: 5px;
}

}