body {
	background: #f5f5f5;
	margin:0;
	padding: 0;
	font-family: sans-serif;
}

#header {
	top:0;
	margin: 0;
	padding:10px;
	background: black;
	color:white;
}
#header h1 {
	padding: 0;
	margin:0;
}
#body {
	padding: 10px;
	width: 75%;
}
.post {
	border-bottom: 1px solid #ccc;
}
.post h2 {
	text-transform: uppercase;
	font-family: monospace;
	font-size: 2.0em;
	margin-bottom: 5px;
	margin-top: 5px;
}
.post h3 {
	font-size: .96em;
	margin-bottom: -10px;
}
.post h5 {
	margin-top:0;
	font-weight: 100;
	margin-bottom: 5px;
}
.post p {
	font-size: .85em;
	line-height: 1.2em;
}
.post ol {
	font-size: .85em;
	line-height: 1.2em;
}
.code {
	background: white;
	padding:10px;
	font-family: monospace;
	font-weight: 700;
	border: 1px solid #dedede;
}
.relative-example {
	width: 400px;
	height: 50px;
	position: relative;
	background: #333333;
	text-align: center;
	padding-top: 50px;
	border: 1px solid #777777;
	color: white;
	left:10px;
}
.top {
	width: 150px;
	height: 40px;
	background: green;
	position: absolute;
}
.fixed {
	position: fixed;
	background: #333;
	height: 40px;
	width: 100px;
	right:25px;
	top:80px;
	color:white;
	padding: 10px;
}
#left {
	top:0;
	left:0;
}
#right {
	right:0;
	top:10px;
}
#footer {
	background: #dedede;
	padding:5px;
	font-size: .75em;
}